.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > .login__logo > img {
  height: 150px;
  object-fit: contain;
}
.login__logo {
  display: flex;
  flex-direction: column;
}
.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 750;
}
.login > button:hover {
  background-color: white;
  color: #2e81f4;
}
