.story {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 113px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0, 75);
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 100ms ease-out;
  text-transform: capitalize;
}
.story:hover {
  transform: scale(1.06);
}
.story__avatar {
  margin: 10px;
  border: 4px solid blue !important;
}
.story > h5 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 17px;
  font-weight: 450;
}
.story__title > h4 {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.stoty__icon {
  position: absolute;
  bottom: 50px;
  left: 30%;
  font-size: 37px !important;
  color: #2e81f4 !important;
  border: 5px solid #fff;
  border-radius: 999px;
  z-index: 1;
}
.stoty__icon:hover {
  border: 5px solid#eff2f5;
}
.story__title {
  position: absolute;
  background-color: #fff;
  color: black !important;
  width: 113px;
  bottom: 0px;
  height: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
.story__title:hover {
  background-color: #eff2f5;
}
